div{
  display:block;
}

div.card h3 > a{
  line-height: 20px;
  color: #057717;
  font-size: 14px;
  font-weight: bold;
  margin-inline-start: 10px;
}
a{
  color: #666;
  text-decoration: none;
}

.boardcontainer > div.main > div.card{
  margin: 0;
  padding: 0px 2px 4px 2px;
}

.card{
  margin: 12px;
}
.boardcontainer{
  margin-top: 5%;
}

