.header_navbar{
  display : flex;
  width : 100%;
  height: 100%;
  background : #0662BF;
}

.head_container{
  display : flex;
  list-style : none;
  padding-left: 0;
  text-align: center;
}
.header_link{
  text-decoration: none;
  color : black;
  font-weight: 600;
  font-size : 18px;
  padding: 8px 12px;
}

